<div class="col-lg-12 col-sm-6">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <mat-card-title>{{ getTranslation('drinks') }}</mat-card-title> <!-- Traducción de 'Bebestibles' -->
      <div *ngFor="let bebestible of bebestiblesPrincipales; let index = index">
        <br>
        <div>{{ bebestible.nombre_producto }}</div>
        <div>{{ getTranslation('priceLabel') }}: ${{ bebestible.precio }}</div>
        <br>
        <button mat-raised-button (click)="mostrarInfo(bebestible)">
          {{ getTranslation('moreInfoLabel') }} <!-- Traducción de 'Más información' -->
        </button>
        <button mat-raised-button (click)="anadirAlCarrito(bebestible)">
          {{ getTranslation('addToCartLabel') }} <!-- Traducción de 'Añadir al carrito' -->
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <br>
      </div>
      <div></div>
    </mat-card-content>
  </mat-card>
</div>
