<body style="padding-left: 10vw;">
  <div class="col-lg-12 col-sm-6">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>Login</mat-card-title> <!-- 'Iniciar sesión' a 'Login' -->
        <form [formGroup]="datosLogin" (submit)="validacion()">
          <label for="usuario" class="col-md-3 col-form-label">Username:</label><br> <!-- 'Nombre usuario' a 'Username' -->
          <input type="text" class="form-control" id="usuario" formControlName="nombre_usuario">
          <br>
          <label for="contraseña" class="col-md-3 col-form-label">Password:</label><br> <!-- 'Contraseña' a 'Password' -->
          <input type="password" class="form-control" id="contraseña" formControlName="contraseña">
          <br>
          <br>
          <button mat-flat-button color="primary" type="submit">Login</button> <!-- 'Acceder' a 'Login' -->
        </form>
        <br>
        <div style="color: red; font-weight: bold;" *ngIf="wrong">Incorrect username or password, please try again.</div> <!-- Mensaje de error traducido -->
      </mat-card-content>
    </mat-card>
  </div>
</body>
