<div class="col-lg-12 col-sm-6">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <!-- Aquí se usa la variable con el título traducido -->
      <mat-card-title>{{ mainCoursesTitle }}</mat-card-title>

      <div *ngFor="let plato of platosPrincipales; let index = index">
        <br>
        <div>{{ plato.nombre_producto }}</div>
        <!-- Aquí se usa la variable con la traducción para 'Precio' -->
        <div>{{ priceLabel }}: ${{ plato.precio }}</div>
        <br>
        <!-- Botón con texto traducido para 'Más información' -->
        <button mat-raised-button (click)="mostrarInfo(plato)" *ngIf="plato.disponible" >
          {{ moreInfoLabel }}
        </button>

        <!-- Botón con texto traducido para 'Añadir al carrito' -->
        <button color="#80e70b" mat-raised-button (click)="anadirAlCarrito(plato)" *ngIf="plato.disponible">
          {{ addToCartLabel }}
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <div style="color: red;" *ngIf="!plato.disponible">Artículo actualmente no disponible</div>
        <br>
      </div>
    </mat-card-content>
  </mat-card>
</div>
