<div class="col-lg-12 col-sm-6">
  <mat-card class="cardWithShadow" style="width: fit-content;">
    <mat-card-content class="p-24">
      <mat-card-title>{{ postreLabel }}</mat-card-title> <!-- Traducción dinámica del título -->
      <div *ngFor="let postre of postres; let index = index">
        <br>
        <img src="/assets/pastel.jpg" width="64" height="64">
        <div>{{ postre.nombre_producto }}</div>
        <div>{{ getTranslation('priceLabel') }}: ${{ postre.precio }}</div>
        <br>
        <button mat-raised-button (click)="mostrarInfo(postre)" *ngIf="postre.disponible">
          {{ getTranslation('moreInfoLabel') }}
        </button>
        <button mat-raised-button (click)="anadirAlCarrito(postre)" *ngIf="postre.disponible">
          {{ getTranslation('addToCartLabel') }}
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <div style="color: red;" *ngIf="!postre.disponible">Artículo actualmente no disponible</div>
        <hr>
        <br>
      </div>
      <div></div>
    </mat-card-content>
  </mat-card>
</div>
