<div class="col-lg-12 col-sm-6">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <mat-card-title>{{ getTranslation('vegan') }}</mat-card-title> <!-- Título traducido -->
      <div *ngFor="let plato of platosPrincipales; let index = index">
        <br>
        <div>{{plato.nombre_producto}}</div>
        <div>{{ getTranslation('priceLabel') }}: ${{plato.precio}}</div> <!-- Etiqueta de precio traducida -->
        <br>
        <button
          mat-raised-button 
          (click)="mostrarInfo(plato)">
          {{ getTranslation('moreInfoLabel') }} <!-- Texto del botón "Más información" traducido -->
        </button>
        <button color="#80e70b"
          mat-raised-button 
          (click)="anadirAlCarrito(plato)">
          {{ getTranslation('addToCartLabel') }} 
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <br>
      </div>
      <div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
